/* Catégories
/ - HEADER STYLE 
/ - FIRST SECTION */
:root {
    --orange: #ff9900;
    --gris: #263640;
    --res: calc(0.01*10vmin);
}
html, body{
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
}
p{
    font-size: calc(30*var(--res));
    font-weight: 500;
}

/* HEADER STYLE */
header{
    width: 100vw;
    height: 10vh;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position:fixed;

    background-color:#F5F8FA;;
    transition: background-color .5s;
    z-index: 100;
}
.nav-scrolled {
    box-shadow: 5px -1px 12px -5px grey;
}

li, a, button{
    all:unset;
    font-size: calc(28*var(--res));
}
nav{
    display: flex ;
}
/* nav bar animation */
nav li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}
nav li a{
    position: relative;
}
nav li a:after{
    content:"";
    position: absolute;
    background-color: var(--orange);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: all 0.3s ease 0s;
}
nav li a:hover{
    color: var(--orange);
} 
nav li a:hover:after{
    width: 100%;
}

button{
    background-color:var(--orange);
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
}
button:hover{
    background-color: #e18700;
    box-shadow: inset -3px -3px 7px #bababa5f, 
    inset 3px 3px 5px #5e68795d;
}

.logo{
    cursor: pointer;
    height: auto;
    max-width: 30vw;
}
.coordonnees-menu{
    display: none;
}
/* hamburger menu */
.bi-list{
    display: none;
}

@media screen and (max-width: 600px){
    /* RESPONSIVE HEADER */
    header{
        position: fixed;
        display: block;
    }
    .bi-list{
        display: block;
        position: absolute;
        right: 5%;
        cursor: pointer;
        font-size: calc(60*var(--res));
        z-index: 100;
    }
    nav{
        display: none;
    }
    h4, li, a{
        font-size: calc(40*var(--res));
    }
    .open{
        display: flex;
        position: fixed;
        background-color: #F5F8FA;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    .coordonnees-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        height: auto;
        max-width: 50vw;
        margin: 0 auto;
    }
    .logo-hidden{
        display: none;
    }
    .first-section{
        margin-top: 10vh;
    }
}
/* FIRST SECTION*/

.first-section{
    background-color: #F5F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top:3%;
    box-shadow: 0px 17px 14px rgba(0, 0, 0, 0.10);
}

/* style du texte/button/images */
.devis{
    width: 30vw;
    padding: 10px 50px;
}

.devis>h4{
    font-family:"Poppins", sans-serif;
    font-size: calc(45*var(--res));
    font-weight: 900;
    text-transform: uppercase;
}

p{
    font-size: calc(30*var(--res));
    font-weight: 500;
}
.retrait{
    font-family:"Poppins", sans-serif;
    font-size: calc(35*var(--res));;
    font-weight: 900;
    text-transform: uppercase;
}

.orange{
    color: var(--orange);
}
/* PHONE */
.phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
}
.img-phone{
    max-width: 15vw;
    height: auto;
}

@media screen and (max-width: 600px){
    .first-section{
        flex-direction: column;
        height: auto;
        padding:2%;
    }
    .devis{
        width: 100vw;
        margin: 0 auto;
        padding: 2% 5%;
    }

    .img-phone{
        max-width: 30vw;
    }
}

/* MAIN PART */
/* part 2 customer reviews */
.review-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4% 0;
}

h2, .merci{
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 400;
    font-size: calc(50*var(--res));
    position: relative;
    display: flex;
    justify-content: center;  
}
.review{
    max-width: 382px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F7F8FA;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background: #F7F8FA
}

.qualities{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0 5% 0;
    font-size: calc(30*var(--res));
    font-weight: 800;
}

.bi-star-fill{
    color: var(--orange);
}
/* PART 3 PARTENAIRES */

.partenaires{
    background: #F5F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
}
.choice{
    text-transform:uppercase;
    font-family:"Poppins", sans-serif;
    font-size: calc(24*var(--res));
    font-weight: 900;
    position: relative;
}
/* barre orange */
.choice::after{
    content:"";
    position: absolute;
    background: var(--orange);
    width: 61%;
    height: 5px;
    bottom: -5px;
    right: 0;
}

.brand-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.brand-container li{
    list-style: none;
    margin: 0 50px;
}

.brand-container img{
    object-fit: cover;
    max-width: 10vw;
    height: auto;
    box-shadow: 3px 3px 5px #5e68795d;
}


/* PART 4 CONTACT PAGE REDIRECTION */

.contact-us{
    font-size: clamp(1rem, 2vw, 1.4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4% 0;

}
.contact{
    width: 30vw;
}
.contact>h3{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* FOOTER */
footer{
    overflow: hidden;
    display: flex;
    padding:5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.88);
    color:white
}
/* logo footer */

.footer-logo{
    height: auto;
    max-width: 400px;
    position: relative;
}
.footer-logo>img{
    height: auto;
    max-width: 350px;
}


/* detail orange logo footer */
.footer-logo:before{
    content:"";
    position: absolute;
    background-color: var(--orange);
    height: 10px;
    width: 40px;
    right: 0;
}
.footer-logo:after{
    content:"";
    position: absolute;
    background-color: var(--orange);
    height: 10px;
    width: 40px;
    right: -16px;
    transform: rotate(90deg);
    top: 16px;
}

.coordonnees{
    display: flex;
    flex-direction: column;
}
.coordonnees>ul{
    all:unset;
    line-height: 2rem;
}
.coordonnees>h4{
    font-size: calc(30*var(--res));
    font-weight: 700;
    line-height: 40px;
    color:var(--orange);
    margin:0;
}
@media screen and (max-width: 990px){
    /* RESPONSIVE FOOTER  */
    footer{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .footer-logo{
        order: 3;
    }
    .coordonnees{
        align-items: center;
    }
}

/* PAGE CONTACT */
.main-contact{
    display: flex;
    flex-direction: column;
    background-color: #F5F8FA;
    padding-top:20vh;
}

.title-container{
    margin: 0 auto;
}
.contact-h2{
    display: inline-block;
    z-index: 99;
    text-align: center;
}
.contact-h2::before{
    content:"";
    position: absolute;
    background-color: var(--orange);
    height: 10px;
    width:100%;
    bottom:10px;
    z-index: -1;
}
.contact-h4{
    font-size: calc(30*var(--res));
    margin-top: 0;
    font-style: italic;
    font-weight: 500;
}

/* container form+informations */

.contact-container{
    all:unset;
    /* width: 30vw; */
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
    "form infos";
    grid-auto-flow: column;
    border-radius: 6px;
    box-shadow: -3px -3px 7px #bababa5f, 
    3px 3px 5px #5e68795d;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px auto 80px auto;
}
.merci{
    font-size: calc(30*var(--res));
    text-align: center;
}
@media screen and (max-width: 600px){
    /* RESPONSIVE CONTACT PAGE */
    .main-contact{
        padding:0 4vw;
    }
}

/* le formulaire de contact */
form{
    grid-area: form;
    box-shadow:0px 4px 4px 0px #00000040 inset, 0px 4px 4px 0px #00000040;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.form-input{
    background:#FFFFFFCC;    
    box-shadow: 0px 2px 2px 0px #00000040 inset;
    border: none;
    border-bottom: 2px solid var(--orange);
    padding:5%;
    margin-bottom: 2%;
    border-radius: 10px;

    font-size:calc(22*var(--res));
}

label{
    font-weight: 500;
}
#message{
    height: 10vh;
}
#envoyer{
    all:unset;
    background: var(--orange);
    width: 40%;
    height: auto;
    padding: 5%;
    border-radius: 10px;
    text-align: center;
}

/* INFORMATIONS */

.infos-container>h4{
    font-size:clamp(1.5rem, 2vw, 2.2rem);
    margin-top: 10px;
    text-align: center;
    grid-area: form;
}
.infos{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    font-size: calc(30*var(--res));
}
.icons{
    margin-bottom: 20%;
}
.icons>span{
    text-align: left;
}
i{
    margin-right: 10px;
    font-size: clamp(1rem, 1.6vw, 3rem);;
}


/* CARTE */
iframe{
    width:100%;
    height:300px;
    margin: 0;
    padding: 0;
}
  /* GOOGLE REVIEWS*/

#map-plug {display:none;}
#google-reviews {
    width: 80vw;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    margin:0 auto;
    justify-content: center;
    scrollbar-width: thin;
}

.review-item {
    flex-shrink: 0;
    max-width: 30%;
    height: auto;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #F7F8FA;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    background: #F7F8FA;
}

.review-meta, .review-stars {text-align:center;font-size: clamp(0.8rem, 1.2vw, 1.5rem);}
.review-author { text-transform: capitalize; font-weight:bold; }
.review-date {opacity:.6; display:block;}
.review-text {     white-space:wrap;    line-height:1.55; text-align:left; max-width:30em; margin:auto; font-size: clamp(0.8rem, 1vw, 1rem)}
.review-stars ul {
display: inline-block;
list-style: none;
margin:0; padding:0;
}
.review-stars ul li {
float: left;
margin-right: 1px;
line-height:1;
}

.review-stars ul li i {
  color: var(--orange);
  font-size: 1.4em;
  font-style:normal;
}
.review-stars ul li i.inactive { color: #c6c6c6;}
.star:after { 
    content: "\2605";
    font-size: clamp(1rem, 1vw, 1.5rem); 
}
